.vid{
    width: 100%;
    height: auto;
}
.vidcnt{
    width: auto;
    height: auto;
    background-color: #8faead;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vh;
    background-color: #8faead;
    width: 100%;
    height: auto;
    padding: 3%;
}
.hdrslide{
    font-family: Arial;
    font-weight: bolder;
    color: #b5cbcf;
    text-shadow: 2px 2px 4px rgba(10, 66,  96, 1);
}
.zoom{
    transition: transform 0.3s ease;
}
.zoom:hover{
    transform: scale(1.1);
}
@media (max-width:1500px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:800px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .d-none{
        display: block;
    }
}